*{
    box-sizing: border-box;
}


body{
    background-color: #92BFB1;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}
&:hover {
    background: white;
    color: black;
  }
  
  .sticky {
    position: fixed;
    z-index: 10;
  }
  .navbar--container {
    top: 15%;
    background: white;
    height: 220px;
    width: 90px;
    box-shadow: 2px 2px 15px rgba(black, .1);
  }
  .navbar--icon {
    margin-top: 24px;
    margin-left: 49px;
    font-size: 1em;
  
  }

  &:hover {
    color: white;
    cursor: pointer;
  }
  .navbar--title {
    margin-left: 27px;
    margin-top: 35px;
    
  }

  h4 {
    writing-mode: vertical-rl;
    font-family: $bold;
    letter-spacing: .34em;
    text-transform: uppercase;
    font-size: 0.9em;
  }
  
  //navigation open
  
  .nav--open {
    height: 100vh;
    width: 300px;
    background: white;
    transition: $ease-slow;
    opacity: 1;
    box-shadow: 2px 2px 15px rgba(black, .1);
  }
  
  .nav--open-icon {
    text-align: right;
    padding: 20px;

  }
  
  &:hover {
    color: black;
    cursor: pointer;
  }

  i {
    font-size: 1.8em;
    color: white;
  
  }

  .nav--open-title {
    font-family: $serif;
    font-size: .8em;
    text-transform: uppercase;
    letter-spacing: .2em;
    text-align: center;
    margin-top: 35%;
  }
  
  .nav--open-menu {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    a {
      font-size: 2em;
      font-weight: 100;
      font-family: $serif;
      padding: 15px 0;
    }
  }
  
  .close {
    transform: translateX(-300px);
    transition: $ease-slow;
    opacity: 0;
  }



section{
    font-family: 'Abril Fatface', cursive;
    color: #ffffff;
    
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    

   
}

h1{
    margin: 0;
    line-height: 1.2em;
    font-weight: 100;
    font-size: 3.5em;
    text-align: left;
}
  
span {
    font-style: italic;
    text-decoration: underline;
    color: #659E87;
  }

  img{
      
  }

  .about{
      background-color: #81B19E;
      display: flex;
      flex-direction: row;
      margin: 0;
      align-items: center;
      justify-content: center;
  }

.description{
    font-family: 'Playfair Display', serif;
    width: 50%;
    height: 50vh;
    margin-left: 25px;
    font-size: 1em;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: center;
     
}

h3{
    text-align: center;
    font-family: 'Abril Fatface', cursive;
    font-size: 2.5em;
}

  a{
      color:#659E87;
  }
  a:hover{
      color: #659E87;
  }

  .myWork{
      background-color: #659E87;
  }

  .myWork > h3{
      margin-top: 0px;
  }
  
  .projects{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      
      width: 100%;
  }

  .projects >img{
      width: 25vw;
      height: 80vh;
      padding: 50px;
  }
  /* .project1, .project2, .project3{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border: 1px dashed orange;
      width: 25%; */
  }
  .workTogether{
      background-color: #A6C9BB;
  }






  //contact form
.contact-form{
    margin-top: 30px;
    .input-block{
        background-color: rgba(white, .8);
        border: solid 1px $primary-color;
        width: 100%;
        height: 60px;
        padding: 25px;
        position: relative;
        margin-bottom: 20px;
        @include transition(all 0.3s ease-out);
        &.focus{
            background-color: $form-bg;
            border: solid 1px darken($primary-color, 10%);
        }
        &.textarea{
            height: auto;
            .form-control{
                height: auto;
                resize: none;
            }
        }
        label{
            position: absolute;
            left: 25px;
            top: 25px;
            display: block;
            margin: 0;
            font-weight: 300;
            z-index: 1;
            color: $secondary-color;
            font-size: 18px;
            line-height: 10px;
        }
        .form-control{
            background-color: transparent;
            padding: 0;
            border: none;
            @include border-radius(0);
            @include box-shadow(none);
            height: auto;
            position: relative;
            z-index: 2;
            font-size: 18px;
            color: $secondary-color;
        }
        .form-control:focus{
            label{
                top: 0;
            }
        }
    }
    .square-button{
        background-color: rgba(white, .8);
        color: darken($primary-color, 10%);
        font-size: 26px;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        @include border-radius(2px);
        @include transition(all 0.3s ease);
        padding: 0 60px;
        height: 60px;
        border: none;
        width: 100%;
        &:hover,
        &:focus{
            background-color: white;
        }
    }
}

//tablet and above devices
@media (min-width: 768px) { 
  .contact-wrap{
    width: 60%;
    margin: auto;
  }
}




//////////////////////////
  /*----page styles---*/
//////////////////////////
body{
  @include background-image(linear-gradient(to right, $primary-color, #DD2476));
  font-family: 'Roboto', sans-serif;
}
.contact-wrap{
  padding: 15px;
}

h1{
  background-color: white;
  color: lighten($primary-color, 10%);
  padding: 40px;
  margin: 0 0 50px;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  small{
    font-size: 18px;
    display: block;
    text-transform: none;
    font-weight: 300;
    margin-top: 10px;
    color: lighten($primary-color, 10%);
  }
}



//follow me template
.made-with-love{
  margin-top: 40px;
  padding: 10px;
  clear: left;
  text-align: center;
  font-size: 10px;
  font-family: arial;
  color: #fff;
  i{
    font-style: normal;
    color: #F50057;
    font-size: 14px;
    position: relative;
    top: 2px;
  }
  a{
    color: #fff;
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}

View Compiled

